/** Base: General Styles */

:root {
  --custom-code-background-color: var(--strapi-primary-100);
  --custom-code-border-color: var(--strapi-primary-200);
  --custom-code-color: var(--strapi-primary-600);

  --custom-heading-decorative-line-color: var(--strapi-neutral-150);
}

h1, h2, h3, h4, h5, h6 {
  --ifm-heading-color: var(--strapi-neutral-900);
  --ifm-heading-font-weight: 600;
}

h1, .markdown h1:first-child {
  --ifm-h1-font-size: 35px;
  // --ifm-heading-line-height: 24px; // not good
}

h2, .markdown > h2 {
  --ifm-h2-font-size: 26px;
  // --ifm-heading-line-height: 24px; // not good
}

code {
  font-family:
    "SFMono-Regular",
    "Menlo",
    "Monaco",
    "Consolas",
    "Liberation Mono",
    "Courier New",
    monospace
  ;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
}

p, li, table {
  code {
    font-size: 13px;
  }
}

code {
  background-color: var(--custom-code-background-color);
  border-color: var(--custom-code-border-color);
  color: var(--custom-code-color);
}

/** Dark mode */
@include dark {
  h1, h2, h3, h4, h5, h6 {
    --ifm-heading-color: var(--strapi-neutral-900);
  }

  pre:not(.prism-code) code {
    background-color: var(--strapi-warning-200);
  }

  .container img[width="16"] {
    /* 'Temporary' fix while we figure a way to display white icons in dark mode 😅  */
    background-color: white;
    border-radius: 2px;
    padding: 1px;
  }
}
