/** Component: Markdown */

$selector-markdown: ".theme-doc-markdown.markdown";

#{$selector-markdown} {
  --markdown-link-color: var(--strapi-primary-600);

  font-weight: 400;

  a {
    color: var(--markdown-link-color);
    font-weight: 600;
  }

  // code {
  //   font-weight: 700;
  // }

  > h2 {
    position: relative;

    &:after {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      height: 1px;
      background-color: var(--custom-heading-decorative-line-color);
    }
  }
}

/** Dark mode */
@include dark {
  #{$selector-markdown} {
    --markdown-link-color: var(--strapi-primary-600);
  }
}
