/** Component: Navbar */

$selector-color-mode-toggle-button: 'button[class*="ColorModeToggle"]';
$selector-color-mode-toggle-wrapper: 'div[class*="ColorModeToggle"]';

.navbar {
  --custom-navbar-brand-mr: 0;
  --custom-navbar-icon-button-size: 36px;
  --custom-navbar-icon-button-hover-background: var(--strapi-neutral-100);
  --custom-navbar-items-font-size: var(--strapi-font-size-sm);
  --custom-navbar-items-gap: var(--strapi-spacing-2);
  --custom-navbar-logo-img-height: 25px;

  --docsearch-searchbox-background: var(--strapi-neutral-150);
  --docsearch-searchbox-shadow: 0 0 0 2px var(--strapi-primary-600);
  --docsearch-muted-color: var(--strapi-neutral-400);
  --docsearch-text-color: var(--strapi-neutral-400);

  --ifm-navbar-padding-vertical: var(--strapi-spacing-1);
  --ifm-navbar-padding-horizontal: var(--strapi-spacing-2);
  --ifm-navbar-shadow: 0 1px 0 0 var(--strapi-neutral-150);

  &__items {
    max-width: var(--custom-navbar-items-width);
    gap: var(--strapi-spacing-2);
  }

  &__brand,
  &__logo {
    height: auto;
    line-height: 0;
  }

  &__brand,
  &__toggle {
    margin-right: var(--custom-navbar-brand-mr);
  }

  &__logo {
    margin-right: 0;

    img {
      height: var(--custom-navbar-logo-img-height);
    }
  }

  &__link {
    --ifm-font-weight-semibold: 500;
    --ifm-navbar-link-hover-color: var(--strapi-neutral-800);

    font-size: var(--custom-navbar-items-font-size);

    &--active {
      --ifm-font-weight-semibold: 700;
    }
  }

  .navbar-sidebar__close,
  .DocSearch-Button,
  #{$selector-color-mode-toggle-button} {
    --ifm-color-emphasis-600: currentColor;
    background: transparent;
    border-radius: 50%;
    color: currentColor;

    @include transition;

    &:hover {
      background: var(--custom-navbar-icon-button-hover-background);
    }
  }

  .navbar__toggle,
  .navbar-sidebar__close,
  #{$selector-color-mode-toggle-wrapper} {
    align-items: center;
    justify-content: center;
    height: var(--custom-navbar-icon-button-size);
    width: var(--custom-navbar-icon-button-size);
  }

  /** Navbar Header used inside the Sidebar on mobile screen **/
  &-sidebar {
    &__brand {
      --custom-navbar-sidebar-horizontal-padding: calc(var(--custom-navbar-items-gap) * 2);
      --ifm-navbar-padding-horizontal:
        var(--custom-navbar-items-gap)
        var(--ifm-navbar-padding-vertical)
        var(--custom-navbar-sidebar-horizontal-padding)
      ;

      gap: var(--custom-navbar-items-gap);
      justify-content: space-between;

      .navbar-sidebar__close,
      #{$selector-color-mode-toggle-wrapper} {
        display: flex;
      }

      .navbar-sidebar__close {
        margin-left: initial;
      }

      #{$selector-color-mode-toggle-wrapper} {
        margin-right: 0 !important;
      }
    }
  }
}

/** Responsive */
@include medium-up {
  .navbar {
    --custom-navbar-brand-mr: 60px;
    --custom-navbar-items-gap: var(--strapi-spacing-4);

    --ifm-navbar-padding-horizontal: var(--custom-navbar-items-gap);

    .DocSearch-Button {
      --custom-navbar-icon-button-hover-background: transparent;

      color: var(--strapi-neutral-400);
      border: var(--strapi-input-border);
      border-radius: 6px;
      font-family: var(--ifm-font-family-base);
      height: 40px;
      width: 266px;
      padding: 0 var(--strapi-spacing-3);

      svg path {
        stroke-width: 2px;
      }

      &-Container {
        gap:  var(--strapi-spacing-1);
      }

      &-Placeholder,
      &-Key {
        font-size: var(--custom-navbar-items-font-size);
      }

      &-Key {
        margin: 0;
        padding: 0;
        width: 14px;
        height: 14px;
        background: none;
        border: none;
        box-shadow: none;
        font-weight: 600;
        line-height: 0;
        align-items: center;
        justify-content: center;

        &:first-of-type {
          font-size: 150%;
        }
      }

      &-Keys {
        padding: 2px 0 0;
        justify-content: end;
      }
    }
  }
}
